.toolbar-buttons {
    width: 100%;
    margin-top: 2%;
    margin-bottom: 2%;
}

button {
    background-color: white;
    margin-right: 10px;
    border: 1px ;
    border-color: black;
    border-style: solid;
    padding: 5px 8px;
}

.active {
    background-color: gray;
    border: none;
    color: white;
}